button{
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 20px;
    transition: filter 0.3s;
}

button:hover,
button:focus{
    filter: brightness(50%);
}

.green{
    background: #3d834d;
}

.blue{
    background: #7ad2d8;
}

.red{
    background: #dd361f;
}