.grid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
}

@media (max-width:340px){
    .grid{
        grid-template-columns: repeat(2, 250px);
    }
   
}

@media (max-width:500px){
    .grid{
        grid-template-columns: repeat(3, 250px);
    }
}