.steps{
    color: #fc2364;
    font-size: 30px;
    background: #ffffff;
    max-width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    margin-left: auto; 
    margin-right: auto;

}


@media (max-width: 1200px) {
.grid {
    grid-template-columns: repeat(3, 250px);
    gap: 40px;
}

}


@media (max-width: 900px) {
.grid {
    grid-template-columns: repeat(3, 200px);
    gap: 30px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container{
    max-width: 100%;
}
}

@media (max-width: 750px) {
    .grid {
    grid-template-columns: repeat(3, 165px);
    gap: 25px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
   
    header {
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }
    
    h1 {
        font-size: 38px;
    }

    .main-menu ul {
        gap: 10px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    
    .main-menu li {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 4px;
        border:#4a10b6 solid 2px;
    }
    
    .main-menu a {
        font-size: 20px;
    }
}




@media (max-width: 600px) {
.grid {
   grid-template-columns: repeat(2, 170px);
    gap: 25px;
    padding: 0 15px;
}
}

@media (max-width: 450px) {
   
    header {
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }
    
    h1 {
        font-size: 45px;
    }

    .main-menu ul {
        gap: 10px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    
    .main-menu li {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 4px;
        border:#4a10b6 solid 2px;
    }
    
    .main-menu a {
        font-size: 30px;
    }

    footer p{
        font-size: 20px;
    }
}


