header{
    background: #ffdd1a;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
  
   
}
.main-menu li{
    border:#4a10b6 solid 3px;
    color: #4a10b6;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
   
}

.main-menu li:hover{
    border: #fc2364 solid 3px;
    color: #fc2364;
}

h1{
    color: #4a10b6;
    font-weight: 1000;
    font-size: 50px;
    margin: 0;
}

.main-menu a{
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

@media (max-width: 1200px) {
    body {
        max-width: 1200px;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

     header {
        padding-left: 70px;
        padding-right: 75px;
        gap: 10px;
        
    }

}

@media (max-width: 750px) {
    body {
        /* max-width: 750px; */
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
   
    header {
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    h1 {
        font-size: 28px;
    }

    .main-menu{
        width: 100%;
    }
    
    .main-menu ul {
        gap: 10px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    
    .main-menu li {
        font-size: 200px;
    }
    
    .main-menu a {
        font-size: 16px;
    }
}
