.container-404{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: blue;
    font-size: 150px;
    
}

.subtitle{
    color: blue;
}